.privacyPolicy {
  .header {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      position: relative;
      padding-left: 13vw; /* Space for the SVG */
      padding-right: 13vw; /* Space for the SVG */
      color: white;
      text-align: center;

      &::before {
        content: "";
        border-top: 2px solid white;
        border-left: 2px solid white;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
        width: 3vw;
        height: 3vw;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &::after {
        content: "";
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        position: absolute;
        right: 0%;
        bottom: 0;
        transform: translateY(50%);
        width: 3vw;
        height: 3vw;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
.bg-dark-blue {
  background: $text_primary;
  color: white;
}
.circle {
  aspect-ratio: 1;
  color: white;
  &:hover {
    background: white;
    color: $text_primary;
  }
}
.contactFormInput {
  border-bottom: 1px solid $text_primary !important;
  border-radius: 0px !important;
  &:focus-visible {
    box-shadow: none;
  }
}
.custom-radio {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #0a2e43; /* Dark blue border */
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.custom-radio:checked {
  background-color: #0a2e43; /* Dark blue background */
}
.form-check-input:checked[type="radio"] {
  background-image: none !important;
}

.custom-radio:checked::after {
  content: "✔"; /* Unicode for the tick */
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}
.btn-blue {
  background: $text_primary;
  color: white;
}
.text-secondary-blue {
  color: #a4c1ff;
}
.text-secondary {
  color: #dbe7ff !important;
}
.AdsamyInNumbers {
  .title {
    font-weight: 600;
    color: #172b43;
  }

  h2,
  h3 {
    color: #246aff;
    text-align: center;
  }
  h2 {
    font-size: 75px;
    font-weight: 700;
  }
  p {
    text-align: center;
    color: #252c40;
  }
}
.text-blue {
  color: #246aff;
}
.text-light {
  color: #a4c1ff !important;
}
.w-30 {
  width: 30%;

  @include media("<=tablet") {
    width: 50%;
  }
}
.border {
  border-color: #cddeff !important;
  border-radius: 14px;
  border-width: 2px !important;
}
.TESTIMONIALSSwiper {
  .swiper-slide {
    width: 27vw;
    @include media("<=tablet") {
      width: 80vw;
    }
  }
}
.vw-10 {
  width: 10vw;
}
.bg-light-secondary {
  background: #f4f4f4;
}
.custom-btn {
  color: #4b92db;
  border: 1px solid#4B92DB;
  font-weight: 400;
}
.aboutTitle {
  position: relative;
  padding: 10px;
  &::after {
    content: "";
    width: 150px;
    background-color: white;
    height: 1px;
    position: absolute;
    top: 50%;
    margin-left: 10px;
  }
}
.aboutSubTitle {
  position: relative;
  &::before {
    content: "";
    width: 150px;
    background-color: white;
    height: 1px;
    position: absolute;
    top: 50%;
    margin-right: 10px;
    right: 100%;
  }
}
.blue-card {
  background: #25456c;
  height: 40vh;
  padding: 30px;
  .cardNumber {
    position: absolute;
    transform: rotate(90deg);
    right: 30px;
    &::after {
      content: "";
      width: 100px;
      background-color: white;
      height: 1px;
      position: absolute;
      top: 50%;
      margin-right: 10px;
      left: 165%;
    }
  }
}
.bg-light-gray {
  background: #5e6a71;
}
.light-gray-logo {
  background: #7a868d;
  img {
    width: 7vw;
  }
}
.find-us {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../imgs/finUs.png") center/cover no-repeat;
}
.MoreSwiper {
  cursor: grab;
  .swiper-slide {
    transition: all 0.5s;
    height: 50vh;
    img {
      object-fit: cover;
      height: 100%;
    }
    .text-hover {
      display: none !important;
      position: absolute;
      z-index: 5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      text-wrap: nowrap;
      a {
        border-bottom: 2px solid #ff644c;
      }
    }
    @include media(">=tablet") {
      &:hover {
        .text-hover {
          display: flex !important;
        }
        &::after {
          content: "";
          position: absolute;
          left: 0px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          background: linear-gradient(
            180deg,
            rgba(10, 21, 64, 0) 0%,
            #0a1540 100%
          );
        }

        transform: translateY(-2.5vh);
        height: 55vh;
        width: 25vw !important;
      }
    }
  }
}
.bg-light-20 {
  background: rgba(255, 255, 255, 0.2);
}
.search-bar {
  padding: 10px;
  box-shadow: 0px 2.5px 18px hsla(0, 0%, 0%, 0.17);
  border: #d2d4da;
}

.search-button {
  background-color: #007bff;
  color: white;
}
.btn-close {
  filter: invert(1);
}
