@import "./breakpoints", "./colors", "../fonts/Poppins/stylesheet.css",
  "services", "contact_us", "./section";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //   border: 1px solid red;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
  accent-color: #172b43;
}
.text-yellow {
  color: #fdd306;
}
.Blog {
  background: #212121;
}
.text-primary {
  color: $text_primary !important;
}
.text-secondary {
  color: $text_secondary;
}
.text-dark-secondary {
  color: hsl(0deg 0% 94.12%);
}
.text-dark-primary {
  color: hsl(204deg 80.15% 25.69%);
}
a {
  text-decoration: none;
}
::-webkit-scrollbar-track {
  background-color: #222222;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: $text_primary;
  border-radius: 2px;
}

header {
  background: url(../imgs/headers.jpg) center/cover no-repeat;
  height: 90vh;

  border-radius: 0px 0px 250px 250px / 0px 0px 70px 70px;
  h2 {
    font-weight: 600;
  }
  .search {
    border-radius: 12px;
    .btn {
      border-radius: 12px;
    }
    input {
      border: none !important;
      &::placeholder {
        color: #9ea6b4;
      }
    }
  }
}
.btn-glass {
  backdrop-filter: blur(10px);
  border: 1px solid white;
}
.chip {
  padding: 5px 10px;
  border-radius: 50px;
  background: #ebf7f3;
  font-weight: 600;
  color: #1565d8;
  width: min-content;
}
.fa-check {
  color: #36b27d;
  background-color: #e1f5ec;
  border-radius: 50px;
  padding: 0.5rem;
}
.first {
  margin-top: -15vh;
  border-radius: 12px;
  .leftImg {
    border-radius: 12px 0px 0px 12px;
    height: 60vh;
    object-fit: cover;
  }
}
.border-radius-12 {
  border-radius: 12px;
}
.circle {
  border-radius: 100%;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.ImageCard {
  min-height: 80vh;
  border-radius: 12px;
}
.h-80 {
  height: 80vh;
}
.swiper-slide {
  .leftImg {
    object-fit: cover;
    height: 60vh;
    border-radius: 12px 0px 0px 12px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: #276678; /* Dark blue color */
  border-radius: 50px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: none !important;
  }
}

.swiper-button-prev {
  left: -7px !important; /* Adjust position as needed */
}

.swiper-button-next {
  right: -7px !important; /* Adjust position as needed */
}

.swiper-container {
  padding: 10px;
}

//* aboutus css
.vh-65 {
  height: 65vh;
}
.work-next {
  right: 1.5vw !important;
}
.work-prev {
  left: 1.5vw !important;
}
.MISSIONSwiper {
  padding-bottom: 5vh !important;
}
.swiper-MISSIONS-pagination {
  padding-left: 5vw;

  .swiper-pagination-bullet {
    transform: scale(1.5);
    background: #fdd306;
  }
}
.marketingSwiper-pagination {
  .swiper-pagination-bullet {
    transform: scale(2);
    margin-left: 10px !important;
    margin-bottom: 2vh !important;
    background: #fdd306;
  }
}
.getQuotation {
  .qetquotationBtn {
    position: fixed;
    right: -68px;
    bottom: 77px;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      width: 50px;
      border-radius: 50px;
      object-fit: cover;
      aspect-ratio: 1;
      border: 3px solid #d6d4d2;
    }
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      background: #d6d4d2;
      border-radius: 2px;
      font-weight: 700;
    }
  }
}
// vedio

.navigateBtns {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(64, 84, 178, 0.29) 100%
  );
  backdrop-filter: blur(5px);
  .nav-link {
    border-radius: 0px;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #ffffff56 !important;
}

.LatestProject {
  background: url("../imgs/SectionSection.png") center/cover no-repeat;
}
// * filter
.filters ul li {
  margin-right: 10px;
  cursor: pointer;
}

.filters {
  .active.btn {
    background-color: #fdd306 !important;
  }
}
$pagination-border-color: #dcdcdc;

$pagination-color: #666666;
.accordion {
  border-radius: 12px !important;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 12px;
}
.accordion-item {
  border-radius: 12px;
}
.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: #004e98 !important;
}
.accordion-button::after {
  font-family: "Font Awesome 5 Free";
}
.accordion-button.collapsed::after {
  font-size: 10px !important;
  border-radius: 50px;
  border: 1px solid #252422;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>');
  background-position: center;
  background-size: 60%;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg width%3D%2222%22 height%3D%2222%22 viewBox%3D%220 0 22 22%22 fill%3D%22none%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Crect x%3D%220.5%22 y%3D%220.5%22 width%3D%2221%22 height%3D%2221%22 rx%3D%2210.5%22 stroke%3D%22white%22/%3E%3Crect x%3D%226%22 y%3D%2210%22 width%3D%2210%22 height%3D%222%22 fill%3D%22white%22/%3E%3C/svg%3E") !important;
}
// login
.submitBtn{
  background: $text_primary;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}