/**
*
* Testing
*
**/
@import "../fonts/Poppins/stylesheet.css";
.ContactUs {
  background: rgb(240, 240, 240);
  color: rgb(51, 51, 51);
}
.ContactUs .contactBox {
  background-color: rgb(234, 234, 234);
}
.ContactUs .contactBox input,
.ContactUs .contactBox textarea,
.ContactUs .contactBox select {
  border-radius: 0px !important;
}
.ContactUs hr {
  height: 4px;
  opacity: 1;
  background-color: rgb(84, 89, 95) !important;
  border: none;
}
.ContactUs .btn {
  border-radius: 0px 0px 10px 10px;
  background: rgb(64, 84, 178);
  color: white;
}
.ContactUs .text-secondary {
  color: rgb(84, 89, 95);
}
.ContactUs .icon {
  color: rgb(64, 84, 178);
}
.ContactUs .profileImg {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.vh-70 {
  height: 70vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
  accent-color: #172b43;
}

.text-yellow {
  color: #fdd306;
}

.Blog {
  background: #212121;
}

.text-primary {
  color: #183c56 !important;
}

.text-secondary {
  color: #6f8395;
}

.text-dark-secondary {
  color: hsl(0, 0%, 94.12%);
}

.text-dark-primary {
  color: hsl(204, 80.15%, 25.69%);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-track {
  background-color: #222222;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #183c56;
  border-radius: 2px;
}

header {
  background: url(../imgs/headers.jpg) center/cover no-repeat;
  height: 90vh;
  border-radius: 0px 0px 250px 250px/0px 0px 70px 70px;
}
header h2 {
  font-weight: 600;
}
header .search {
  border-radius: 12px;
}
header .search .btn {
  border-radius: 12px;
}
header .search input {
  border: none !important;
}
header .search input::-moz-placeholder {
  color: #9ea6b4;
}
header .search input::placeholder {
  color: #9ea6b4;
}

.btn-glass {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid white;
}

.chip {
  padding: 5px 10px;
  border-radius: 50px;
  background: #ebf7f3;
  font-weight: 600;
  color: #1565d8;
  width: -moz-min-content;
  width: min-content;
}

.fa-check {
  color: #36b27d;
  background-color: #e1f5ec;
  border-radius: 50px;
  padding: 0.5rem;
}

.first {
  margin-top: -15vh;
  border-radius: 12px;
}
.first .leftImg {
  border-radius: 12px 0px 0px 12px;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.border-radius-12 {
  border-radius: 12px;
}

.circle {
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
}

.ImageCard {
  min-height: 80vh;
  border-radius: 12px;
}

.h-80 {
  height: 80vh;
}

.swiper-slide .leftImg {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60vh;
  border-radius: 12px 0px 0px 12px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: #276678; /* Dark blue color */
  border-radius: 50px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
}

.swiper-button-prev {
  left: -7px !important; /* Adjust position as needed */
}

.swiper-button-next {
  right: -7px !important; /* Adjust position as needed */
}

.swiper-container {
  padding: 10px;
}/*# sourceMappingURL=main.css.map */