@charset "UTF-8";
/**
*
* Testing
*
**/
@import "../fonts/Poppins/stylesheet.css";
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.min.css";
.services {
  background: hsl(0, 0%, 94.12%);
}

.bg-yellow {
  background: #fdd306;
}

.bg-secondary-light {
  background-color: rgb(217, 217, 217);
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.outlineFont {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  -webkit-text-stroke: 2px rgb(13, 75, 116);
  color: #fdd306;
  font-size: 5rem;
}

.whyAttend li {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>');
}

.bg-light-yellow {
  background: rgb(255, 249, 218);
}

.RequestCard .col-md-6:nth-child(1) {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.RequestCard .col-md-6:nth-child(2) {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.PartnerCard {
  background: hsl(50.27, 100%, 92.75%);
}

.bg-gold {
  background: #e4c669;
}

.services .btn-primary {
  background: #183c56;
}

.partner-img {
  width: 10vw;
}

.font-Inter {
  font-family: Inter;
}

.vh-50 {
  height: 50vh;
}

.webDesign .video-card {
  position: relative;
  width: 100%;
}
.webDesign .video-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.webDesign .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 139, 0);
  border: 7px solid rgba(255, 255, 255, 0.6156862745) !important;
  width: 100px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.webDesign .play-btn i {
  color: rgba(255, 255, 255, 0.6156862745);
  font-size: 50px;
  width: 100%;
}
.webDesign .likes {
  display: flex;
  align-items: center;
}
.webDesign .likes i,
.webDesign .views i {
  margin-right: 5px;
}

.web-swiper-button-prev-btns {
  justify-content: center;
}
.web-swiper-button-prev-btns .swiper-button-next,
.web-swiper-button-prev-btns .swiper-button-prev {
  position: initial !important;
}

.ContactUs {
  background: rgb(240, 240, 240);
  color: rgb(51, 51, 51);
}
.ContactUs .contactBox {
  background-color: rgb(234, 234, 234);
}
.ContactUs .contactBox input,
.ContactUs .contactBox textarea,
.ContactUs .contactBox select {
  border-radius: 0px !important;
}
.ContactUs hr {
  height: 4px;
  opacity: 1;
  background-color: rgb(84, 89, 95) !important;
  border: none;
}
.ContactUs .btn {
  border-radius: 0px 0px 10px 10px;
  background: rgb(64, 84, 178);
  color: white;
}
.ContactUs .text-secondary {
  color: rgb(84, 89, 95);
}
.ContactUs .icon {
  color: rgb(64, 84, 178);
}
.ContactUs .profileImg {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.vh-70 {
  height: 70vh;
}

.marketingSwiper {
  height: 100vh;
}

.click-btn {
  background: #172b43;
}

.slider-imgs .left-img {
  width: 75%;
  border: 5px solid white;
  border-radius: 30px;
}
@media only screen and (max-width: 767px) {
  .slider-imgs .left-img {
    width: 60vw !important;
  }
}
.slider-imgs .right-img {
  right: -13vw;
  width: 22vw;
  bottom: 14%;
  border-radius: 30px;
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .slider-imgs .right-img {
    position: relative;
    width: 40vw;
    right: -5vw;
  }
}

@media only screen and (max-width: 767px) {
  .slide-row {
    flex-direction: column-reverse;
  }
}

.inner-swiper .swiper-slide {
  width: 30vw;
}
@media only screen and (max-width: 767px) {
  .inner-swiper .swiper-slide {
    width: 60vw;
  }
}

.inner-swiper .swiper-slide img {
  transition: transform 0.3s ease-in-out;
}

.inner-swiper .swiper-slide-next {
  transform: scale(0.9) !important; /* Adjust the scale value as needed */
}

.marketingSwiper .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 1s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .marketingSwiper .swiper-slide p {
    width: 90vw;
  }
}
.marketingSwiper .swiper-slide h2 {
  transform: translateY(30px);
}
.marketingSwiper .swiper-slide-active h2 {
  transform: translateY(0px);
}
.marketingSwiper .swiper-button-prev,
.marketingSwiper .swiper-button-next {
  opacity: 0.1;
}
.marketingSwiper .swiper-button-prev:hover,
.marketingSwiper .swiper-button-next:hover {
  opacity: 1;
}

.inner-swiper-container {
  top: 0px;
  right: 0px;
  overflow-x: hidden;
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .inner-swiper-container {
    position: initial;
    top: auto;
    right: auto;
  }
}

.privacyPolicy .header {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.privacyPolicy .header h2 {
  position: relative;
  padding-left: 13vw; /* Space for the SVG */
  padding-right: 13vw; /* Space for the SVG */
  color: white;
  text-align: center;
}
.privacyPolicy .header h2::before {
  content: "";
  border-top: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  width: 3vw;
  height: 3vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.privacyPolicy .header h2::after {
  content: "";
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  right: 0%;
  bottom: 0;
  transform: translateY(50%);
  width: 3vw;
  height: 3vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-dark-blue {
  background: #183c56;
  color: white;
}

.circle {
  aspect-ratio: 1;
  color: white;
}
.circle:hover {
  background: white;
  color: #183c56;
}

.contactFormInput {
  border-bottom: 1px solid #183c56 !important;
  border-radius: 0px !important;
}
.contactFormInput:focus-visible {
  box-shadow: none;
}

.custom-radio {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 2px solid #0a2e43; /* Dark blue border */
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.custom-radio:checked {
  background-color: #0a2e43; /* Dark blue background */
}

.form-check-input:checked[type=radio] {
  background-image: none !important;
}

.custom-radio:checked::after {
  content: "✔"; /* Unicode for the tick */
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.btn-blue {
  background: #183c56;
  color: white;
}

.text-secondary-blue {
  color: #a4c1ff;
}

.text-secondary {
  color: #dbe7ff !important;
}

.AdsamyInNumbers .title {
  font-weight: 600;
  color: #172b43;
}
.AdsamyInNumbers h2,
.AdsamyInNumbers h3 {
  color: #246aff;
  text-align: center;
}
.AdsamyInNumbers h2 {
  font-size: 75px;
  font-weight: 700;
}
.AdsamyInNumbers p {
  text-align: center;
  color: #252c40;
}

.text-blue {
  color: #246aff;
}

.text-light {
  color: #a4c1ff !important;
}

.w-30 {
  width: 30%;
}
@media (max-width: 992px) {
  .w-30 {
    width: 80%;
  }
}

.border {
  border-color: #cddeff !important;
  border-radius: 14px;
  border-width: 2px !important;
}

.TESTIMONIALSSwiper .swiper-slide {
  width: 27vw;
}
@media (max-width: 992px) {
  .TESTIMONIALSSwiper .swiper-slide {
    width: 80vw;
  }
}

.vw-10 {
  width: 10vw;
}

.bg-light-secondary {
  background: #f4f4f4;
}

.custom-btn {
  color: #4b92db;
  border: 1px solid #4B92DB;
  font-weight: 400;
}

.aboutTitle {
  position: relative;
  padding: 10px;
}
.aboutTitle::after {
  content: "";
  width: 150px;
  background-color: white;
  height: 1px;
  position: absolute;
  top: 50%;
  margin-left: 10px;
}

.aboutSubTitle {
  position: relative;
}
.aboutSubTitle::before {
  content: "";
  width: 150px;
  background-color: white;
  height: 1px;
  position: absolute;
  top: 50%;
  margin-right: 10px;
  right: 100%;
}

.blue-card {
  background: #25456c;
  height: 40vh;
  padding: 30px;
}
.blue-card .cardNumber {
  position: absolute;
  transform: rotate(90deg);
  right: 30px;
}
.blue-card .cardNumber::after {
  content: "";
  width: 100px;
  background-color: white;
  height: 1px;
  position: absolute;
  top: 50%;
  margin-right: 10px;
  left: 165%;
}

.bg-light-gray {
  background: #5e6a71;
}

.light-gray-logo {
  background: #7a868d;
}
.light-gray-logo img {
  width: 7vw;
}

.find-us {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../imgs/finUs.png") center/cover no-repeat;
}

.MoreSwiper {
  cursor: grab;
}
.MoreSwiper .swiper-slide {
  transition: all 0.5s;
  height: 50vh;
}
.MoreSwiper .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.MoreSwiper .swiper-slide .text-hover {
  display: none !important;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-wrap: nowrap;
}
.MoreSwiper .swiper-slide .text-hover a {
  border-bottom: 2px solid #ff644c;
}
@media (min-width: 992px) {
  .MoreSwiper .swiper-slide:hover {
    transform: translateY(-2.5vh);
    height: 55vh;
    width: 25vw !important;
  }
  .MoreSwiper .swiper-slide:hover .text-hover {
    display: flex !important;
  }
  .MoreSwiper .swiper-slide:hover::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(10, 21, 64, 0) 0%, #0a1540 100%);
  }
}

.bg-light-20 {
  background: rgba(255, 255, 255, 0.2);
}

.search-bar {
  padding: 10px;
  box-shadow: 0px 2.5px 18px hsla(0, 0%, 0%, 0.17);
  border: #d2d4da;
}

.search-button {
  background-color: #007bff;
  color: white;
}

.btn-close {
  filter: invert(1);
}

.coursers_swiper .swiper-slide h3,
.coursers_swiper .swiper-slide p {
  width: 50%;
}
@media (max-width: 992px) {
  .coursers_swiper .swiper-slide h3,
  .coursers_swiper .swiper-slide p {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .coursers_swiper .swiper-slide h3,
  .coursers_swiper .swiper-slide p {
    width: 100%;
  }
}
.coursers_swiper .swiper-slide::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.coursers_swiper .background {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 1100px) {
  section.our-lectures .wrapper {
    flex-direction: column;
  }
}
section.our-lectures .wrapper .right span {
  color: #3f3a64;
}

section.our-lectures .wrapper .right .info {
  display: flex;
  gap: 16px;
  align-items: center;
}
@media (max-width: 450px) {
  section.our-lectures .wrapper .right .info .img {
    width: 30%;
  }
}

.gallery {
  position: relative;
  height: 100%;
}
.gallery .gallerySwiper {
  width: 100%;
  height: 100%;
}
.gallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery body {
  background: #000;
  color: #000;
}
.gallery .gallerySwiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery .gallerySwiper2 {
  height: 60vh;
  width: 100%;
}
.gallery .gallerySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery .gallerySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery .gallerySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.gallery .swiper-slide video,
.gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .thumbsSlider-img {
  height: 10vh !important;
}

.footer {
  background-color: #1e2738;
}

.main-bg {
  background-color: #1e2738;
}

.menu-wrapper {
  background-color: #4a5462;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hovereffect:hover .overlay {
  background-color: rgba(75, 123, 238, 0.83);
}

.hovereffect h2,
.hovereffect img {
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  transform: scale(1.1);
  width: 100%;
}

.-hovereffect:hover img {
  transform: scale(1);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  /* background: rgba(0, 0, 0, 0.6); */
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  /* border: 1px solid #fff; */
  margin: 50px 0 0 0;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(1.5);
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0%;
  /* padding: 70px; */
}

.hovereffect:hover a.info,
.hovereffect:hover .overlay_btn,
.hovereffect:hover .overlay_text {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  background-color: rgba(0, 106, 255, 0.07);
}

.hovereffect:hover .overlay_head {
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
}

.hovereffect .overlay_btn {
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
}

.hovereffect .overlay_text {
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
}

.overlay_content {
  padding-inline: 15px;
}

.friend .card-img-top {
  width: 100%;
  /* border-top-left-radius: calc(.25rem - 1px); */
  /* border-top-right-radius: calc(.25rem - 1px); */
  max-width: 100px;
  padding: 10px;
  border-radius: 50%;
}

.card.friend {
  align-content: center;
  border: unset !important;
  background: transparent;
  color: #fff !important;
}

@media (max-width: 991.98px) {
  .reviews .padding {
    padding: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .reviews .padding {
    padding: 1rem;
  }
}
.reviews .padding {
  padding: 5rem;
}

.__reviews .card {
  position: relative;
  display: flex;
  width: 600px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 11px;
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.reviews .card {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(108, 114, 122, 0.3803921569);
  background-clip: border-box;
  /* border: 1px solid #d2d2dc; */
  border-radius: 11px;
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.reviews .card .card-body {
  padding: 1rem 1rem;
}

.reviews .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.reviews p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem !important;
  line-height: 1.9rem;
  padding-top: 10px;
  text-align: center;
}

.reviews h4 {
  line-height: 0.2 !important;
}

.reviews .items {
  width: 100%;
  margin: 0px auto;
  /* margin-top: 100px */
}

.reviews .slick-slide {
  margin: 4px;
}

.reviews .media iframe,
.reviews .media-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-radius: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(120, 120, 120, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews .media-content:before {
  content: "";
  position: absolute;
  height: 10%;
  width: 90%;
  left: 5%;
  bottom: 0;
  background: inherit;
  background-position-y: 100%;
  filter: blur(10px);
}

.reviews .circle .media-content:before {
  width: 40%;
  left: 30%;
}

.reviews .profile-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 11px !important;
  border-top-right-radius: 11px;
}

.reviews .card-title {
  font-size: 19px;
  font-weight: 200;
}

.slick-arrow {
  display: none !important;
}

.reviews .review-logo {
  display: flex;
  justify-content: center;
}

.reviews .front .review-logo {
  max-height: 15px;
}

.reviews .logo-image {
  max-width: 80px;
  height: 80px;
  aspect-ratio: 1;
  z-index: 200;
  border-radius: 50%;
  border-inline-width: 0;
  /* border-top-width: 1.5px; */
  border-buttom-width: 1.5px;
  border-style: solid none;
  border-width: 5px 2px 5px 2px;
}

.reviews .front .logo-image {
  border-block-start-color: #0093e9;
  border-block-end-color: #80d0c7;
  /*    border: solid #0093E9;*/
  margin-bottom: 5px;
}

.reviews .back .logo-image {
  border-block-start-color: #4158d0;
  border-block-end-color: #ffcc70;
  /*    border-top: solid #4158D0;*/
  /*    #4158D0 0%,#C850C0 46%, #FFCC70*/
}

.reviews .stars {
  color: #ffd700;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 0;
}

.reviews .front .stars {
  padding-top: 20px;
}

.reviews .card-title {
  text-align: center;
  font-weight: 400 !important;
}

.reviews .card-job-title {
  text-align: center;
  font-size: 12px !important;
}

.card-yellow-hint {
  background-color: gold;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-color: blueviolet;
  border-bottom-style: ridge;
  border-bottom-width: 12px;
}

.card-yellow-hint .qoute_text {
  color: #4158d0;
  font-weight: bold;
}

.reviews .review-description {
  background-color: rgba(193, 151, 233, 0.4117647059);
  background-image: linear-gradient(180deg, rgba(138, 43, 226, 0.1294117647) 0%, rgba(255, 215, 0, 0.2705882353) 60%, rgba(255, 204, 112, 0.3411764706) 97%, rgba(86, 27, 142, 0.9019607843) 100%);
  padding-inline: 2px;
  padding-bottom: 5px;
  min-height: -moz-max-content;
  min-height: max-content;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  line-height: 2rem;
  color: #fff !important;
  font-size: 1rem;
  font-weight: 600;
}

.cart-top {
  justify-content: center;
  /* align-content: center; */
  display: flex;
}

.col-service {
  min-height: 300px !important;
  padding: 0 !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border: 1px ridge #fff;
}

.footer-area * {
  color: #fff !important;
}

.footer {
  background-color: #1e2738;
}

.main-bg {
  background-color: #1e2738;
}

.menu-wrapper {
  background-color: #4a5462;
}

.we_have_list li {
  list-style: circle;
}

.errorMessage {
  color: red;
  font-size: 10px;
}

#_qoute_text {
  display: none;
  /*align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background: #d6d4d2;
    border-radius: 2px;
    font-weight: 700;*/
}

#_qoute_img:hover + #_qoute_text {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background: #d6d4d2;
  border-radius: 2px;
  font-weight: 700;
}

/*.getQuotation .qetquotationBtn #_qoute_img:hover > .getQuotation .qetquotationBtn #_qoute_text {
    display: block !important;
}

.getQuotation .qetquotationBtn .text {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background: #d6d4d2;
    border-radius: 2px;
    font-weight: 700;
}
*/
footer .social-icon {
  width: 40px;
  height: 40px;
  align-items: center;
}

footer .footer-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

._card {
  perspective: 150rem;
  position: relative;
  height: 40rem;
  max-width: 400px;
  margin: 2rem;
  box-shadow: none;
  background: none;
}

/*.card-side {
  height: 35rem;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 2rem;
  color: white;
}*/
.card-side {
  height: 100%;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4px;
  color: white;
}

.card-side.back {
  transform: rotateY(-180deg);
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.card-side.front_old {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.card-side.front {
  background-color: rgba(74, 84, 98, 0);
  /*    background-image: linear-gradient(160deg, #80D0C7 0%, #01ff44c9 100%);*/
  background-image: linear-gradient(160deg, #80d0c7 0%, rgba(1, 255, 68, 0.2509803922) 100%);
}

._card:hover .card-side.front {
  transform: rotateY(180deg);
}

._card:hover .card-side.back {
  transform: rotateY(0deg);
}

.scalloped_bottom {
  --mask: linear-gradient(to top, #0000 30px, #000 0),
    radial-gradient(30px, #000 98%, #0000) bottom/20px 60px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.text-gold {
  color: #c1aa04 !important;
}

.linear_effect_1 {
  background-color: #4158d0;
  background-image: linear-gradient(90deg, #ffcc70 0%, #c850c0 48%, #ffcc70 100%);
}

.linear_effect_2 {
  background-color: #0093e9;
  background-image: linear-gradient(90deg, #80d0c7 0%, #0093e9 48%, #80d0c7 100%);
}

.radius_50 {
  border-radius: 50% !important;
}

.top_radius_effect_1 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.buttom_radius_effect_1 {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.inline_border_effect_1 {
  color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-right-color: blueviolet;
  border-right-style: ridge;
  border-left-color: blueviolet;
  border-left-style: ridge;
  border-width: 12px;
}

.border_effect_1 {
  border-block-start-color: #0093e9;
  border-block-end-color: #80d0c7;
  border-bottom: ridge #0093e9;
  border-width: 4px;
}

.border_effect_1.text_label {
  color: #4158d0;
  font-weight: bold;
  background: rgba(0, 147, 233, 0.2);
  padding: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 11px;
}

.border_effect_2 {
  border-block-start-color: #4158d0;
  border-block-end-color: #ffcc70;
  border-bottom: ridge #4158d0;
  border-width: 4px;
}

.bottom_border_effect_1 {
  border-bottom-color: blueviolet;
  border-bottom-style: ridge;
  border-bottom-width: 2px;
}

.bottom_border_effect_2 {
  background-color: gold;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: #fff;
  border-bottom-color: blueviolet;
  border-bottom-style: ridge;
  border-bottom-width: 12px;
}

.bottom_border_effect_2 .text_container {
  color: #4158d0;
  font-weight: bold;
}

.top_border_effect_2 {
  background-color: gold;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: #fff;
  border-top-color: blueviolet;
  border-top-style: ridge;
  border-top-width: 12px;
  background: rgb(217, 217, 217);
}

.top_border_effect_2 .text_container {
  color: #4158d0;
  font-weight: bold;
  background: rgb(217, 217, 217);
}

.curve_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 400px; */
  /*    padding-top: 100px;*/
  /*    background: #faebd7;*/
}

.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
  z-index: 0 !important;
}

.curve_400 {
  height: 400px !important;
}

.curve_500 {
  height: 500px !important;
}

.curve_600 {
  height: 600px !important;
}

.curve_1::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 0% 0% 0%;
  width: 50%;
  height: 100%;
  transform: translate(100%, 0%);
  background-color: hsl(208.24, 7.3%, 45.69%);
  /* z-index: -1; */
}

.curve_1::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 40% 0% 40% 0%;
  width: 50%;
  height: 100%;
  background-color: #faebd7;
  transform: translate(0%, 60%);
  /* z-index: -1; */
}

.curve_2::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 0% 0% 0%;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  background-color: hsl(70.24, 32.3%, 60.69%);
  /* z-index: -1; */
}

.curve_3::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 40% 0% 40% 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 179, 46, 0.8196078431);
  transform: translate(0%, 100%);
  /* z-index: -1; */
}

.curve_4::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 0% 0% 0%;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  background-color: hsla(50.59, 100%, 50%, 0.12);
  /* z-index: -1; */
}

.curve_5::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 0% 0% 0%;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  background-color: hsl(45.37, 69.49%, 65.29%);
  /* z-index: -1; */
}

.curve_6::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 0% 0% 0%;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  background-color: hsl(72, 14%, 79%);
  /* z-index: -1; */
}

.curve_7::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 40% 0% 40% 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(126, 179, 0, 0.8117647059);
  transform: translate(0%, 98%);
  /* z-index: -1; */
}

.curve_8::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 40% 0% 40% 0%;
  width: 100%;
  height: 100%;
  background-color: #4a5462;
  transform: translate(0%, 98%);
  /* z-index: -1; */
}

.curve_9::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 0% 0% 0%;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  background-color: hsla(72, 14%, 79%, 0.88);
}

.mix_background_curve_3 {
  background-color: #b0bb7a;
}

.mix_background_curve_2 {
  background-color: #ced1c2;
}

.background_curve_2 {
  background-color: rgba(106, 126, 8, 0.368627451);
}

.rounded_image {
  max-width: 80px;
  height: 80px;
  aspect-ratio: 1;
  z-index: 200;
  border-radius: 50%;
  border-inline-width: 0;
  /* border-top-width: 1.5px; */
  border-buttom-width: 1.5px;
  border-style: solid none;
  border-width: 5px 2px 5px 2px;
}

.rounded_image.border_1 {
  border-block-start-color: #0093e9;
  border-block-end-color: #80d0c7;
  /*    border: solid #0093E9;*/
  margin-bottom: 5px;
}

.rounded_image.border_2 {
  border-block-start-color: #4158d0;
  border-block-end-color: #ffcc70;
  /*    border-top: solid #4158D0;*/
  /*    #4158D0 0%,#C850C0 46%, #FFCC70*/
}

.bottom_border_effect_4 {
  background-color: gold;
  text-align: center;
  /*    padding: 10px;*/
  width: 100%;
  color: #fff;
  border-bottom-color: rgba(177, 162, 88, 0.6509803922);
  border-bottom-style: ridge;
  border-bottom-width: 12px;
}

.bottom_border_effect_6 {
  background-color: gold;
  text-align: center;
  /* padding: 10px; */
  width: 100%;
  color: #fff;
  border-bottom-color: #98a93f;
  border-bottom-style: ridge;
  border-bottom-width: 12px;
}

.bottom_border_effect_5 {
  background-color: white;
  text-align: center;
  /* padding: 10px; */
  width: 100%;
  color: #fff;
  /* border-bottom-color: #98a93f; */
  border-bottom-style: ridge;
  border-bottom-width: 12px;
}

.top_border_effect_4 {
  background-color: gold;
  text-align: center;
  /*    padding: 10px;*/
  width: 100%;
  color: #fff;
  border-top-color: rgba(88, 102, 14, 0.5019607843);
  border-top-style: ridge;
  border-top-width: 12px;
  background: rgb(217, 217, 217);
}

.background_1 {
  background: rgb(217, 217, 217);
}

.background_2 {
  background: #ded9bf;
}

.border_effect_3 {
  border-block-start-color: #968c5c;
  border-block-end-color: #fff705;
  border-bottom: ridge #968c5c;
  border-width: 4px;
}

.border_effect_3.text_label {
  color: #342f1c !important;
  font-weight: bold;
  background: rgb(222, 217, 191);
  padding: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 11px;
}

.parteners_background {
  background-color: #5d6672;
}

.parteners_background_3 {
  background-color: hsla(214.29, 10.14%, 40.59%, 0.91);
}

.parteners_background_2 {
  background-color: hsl(72, 14%, 79%);
}

.linear_effect_x_1 {
  background-color: #fff;
  background-image: linear-gradient(180deg, rgba(246, 246, 246, 0.1607843137) 0%, #4a5462 50%, #4a5462 100%);
}

.linear_effect_x_1_background {
  background-color: #5d6672;
}

.linear_effect_x_2 {
  background-color: rgba(255, 255, 255, 0.4588235294);
  background-image: linear-gradient(180deg, rgba(246, 246, 246, 0.5411764706) 0%, #561b8e 50%, #521a87 100%);
}

.linear_effect_x_2_background {
  background-image: linear-gradient(180deg, rgba(138, 43, 226, 0.1294117647) 0%, rgba(255, 215, 0, 0.2705882353) 60%, rgba(255, 204, 112, 0.3411764706) 97%, rgba(86, 27, 142, 0.9019607843) 100%);
  background-color: aliceblue;
}

.linear_effect_x_3 {
  background-color: rgba(255, 255, 255, 0.4588235294);
  background-image: linear-gradient(180deg, rgba(195, 46, 245, 0.3490196078) 0%, #1e0338 50%, #2a074c 100%);
}

.z_index_1 {
  z-index: 1 !important;
}

.google_map iframe {
  max-width: 100% !important;
}

.inner_shadow {
  border-bottom: 4px #000 ridge;
  background-color: darkgray;
}

.outlineFont_2 {
  /* font-family: "Arimo"; */
  font-style: normal;
  font-weight: 900;
  -webkit-text-stroke: 3px rgb(217, 217, 217);
  color: #4a5462;
  font-size: 6rem;
}

.bg-yellow_2 {
  background: #e4c669 !important;
}

.text_nav {
  color: #4a5462 !important;
}

.background_3 {
  background: rgb(74, 84, 98);
}

.background_3 {
  background-color: antiquewhite;
}

footer .copyright-word-developed_by,
footer .copyright-developer {
  display: none;
}

header ul.dropdown-menu.show {
  background-color: #4a5462 !important;
}

header ul.dropdown-menu.show {
  background-color: #4a5462 !important;
}

header ul.dropdown-menu.show li {
  width: 100% !important;
}

.slicknav_nav {
  background: rgba(74, 84, 98, 0.9215686275) !important;
  float: right;
  margin-top: 11px;
  padding: 19px;
  width: 100%;
  border-top: 2px ridge #eee !important;
  border-bottom-right-radius: 10px;
}

.slick_nav ul li a {
  color: #fff;
  font-weight: 500;
  padding: 29px 23px;
  display: block;
  font-size: 14px;
  transition: 0.3s;
  text-transform: uppercase;
}

.main-header .main-menu ul li {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.mobile_menu .slicknav_menu .slicknav_nav a {
  background: transparent;
  color: #fff;
}

.mobile_menu .slicknav_menu .slicknav_nav a:not(:has(img)):hover,
.mobile_menu .slicknav_menu .slicknav_nav a:not(:has(img)):active {
  background: #69717b;
  color: #fff;
  border-inline-start: 2px solid #fff;
}

.slicknav_nav li:has(img) {
  display: flex !important;
  justify-content: center;
  justify-items: center;
}

span.avatarUsername {
  position: absolute;
  bottom: -15px;
  left: 0px;
  /* top: 85%; */
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.avatar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-img.dropdown-toggle::after {
  display: none !important;
  content: unset !important;
}

.section_head {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section_head h1 {
  font-size: 5rem !important;
  /*    text-shadow: -15px 5px 20px #ced0d3;*/
}

@supports ((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
  .fancy {
    background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.card_link:hover {
  /* background: rgba(255, 255, 255, 0.2); */
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  /* background: rgba(94, 109, 103, 0.25); */
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(3.4px); */
  /* -webkit-backdrop-filter: blur(3.4px); */
  /* border: 1px solid rgba(94, 109, 103, 0.51); */
  background: rgba(255, 187, 0, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 187, 0, 0.51);
}

.swipers {
  padding: 15vh 0vh;
}

.swiper-container,
.swiper-container2 {
  transform: matrix(0.99, 0.15, -0.58, 0.82, 0, 0);
  width: 130vw;
  margin-left: -16vw !important;
}
.swiper-container .swiper-slide,
.swiper-container2 .swiper-slide {
  width: 25vw;
  height: 30vh;
  padding-top: 5vh;
  box-shadow: 14px 14px 19px 0px rgba(0, 0, 0, 0.31);
  padding: 0px;
  margin-bottom: 5vh;
}
@media (max-width: 991px) {
  .swiper-container .swiper-slide,
  .swiper-container2 .swiper-slide {
    width: 35vw;
  }
}
@media (max-width: 449px) {
  .swiper-container .swiper-slide,
  .swiper-container2 .swiper-slide {
    width: 55vw;
  }
}
.swiper-container .swiper-slide img,
.swiper-container2 .swiper-slide img {
  border-radius: 10px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
  accent-color: #172b43;
}

.text-yellow {
  color: #fdd306;
}

.text-primary {
  color: #183c56 !important;
}

.text-secondary {
  color: #6f8395;
}

.text-dark-secondary {
  color: hsl(0, 0%, 94.12%);
}

.text-dark-primary {
  color: hsl(204, 80.15%, 25.69%);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-track {
  background-color: #222222;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #183c56;
  border-radius: 2px;
}

.Blog header {
  background: url(../imgs/headers.jpg) center/cover no-repeat;
  height: 90vh;
  border-radius: 0px 0px 250px 250px/0px 0px 70px 70px;
}
.Blog header h2 {
  font-weight: 600;
}
.Blog header .search {
  border-radius: 12px;
}
.Blog header .search .btn {
  border-radius: 12px;
}
.Blog header .search input {
  border: none !important;
}
.Blog header .search input::-moz-placeholder {
  color: #9ea6b4;
}
.Blog header .search input::placeholder {
  color: #9ea6b4;
}

.btn-glass {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid white;
}

.chip {
  padding: 5px 10px;
  border-radius: 50px;
  background: #ebf7f3;
  font-weight: 600;
  color: #1565d8;
  width: -moz-min-content;
  width: min-content;
}

.fa-check {
  color: #36b27d;
  background-color: #e1f5ec;
  border-radius: 50px;
  padding: 0.5rem;
}

.first {
  margin-top: -15vh;
  border-radius: 12px;
}
.first .leftImg {
  border-radius: 12px 0px 0px 12px;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.border-radius-12 {
  border-radius: 12px;
}

.circle {
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
}

.ImageCard {
  min-height: 80vh;
  border-radius: 12px;
}

.h-80 {
  height: 80vh;
}

.swiper-slide .leftImg {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60vh;
  border-radius: 12px 0px 0px 12px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: #276678; /* Dark blue color */
  border-radius: 50px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
}

.Blog .swiper-button-prev {
  left: -7px !important; /* Adjust position as needed */
}
.Blog .swiper-button-next {
  right: -7px !important; /* Adjust position as needed */
}
.Blog .swiper-container {
  padding: 10px;
}

.vh-65 {
  height: 65vh;
}

.work-next {
  right: 1.5vw !important;
}

.work-prev {
  left: 1.5vw !important;
}

.MISSIONSwiper {
  padding-bottom: 5vh !important;
}

.swiper-MISSIONS-pagination {
  padding-left: 5vw;
}
.swiper-MISSIONS-pagination .swiper-pagination-bullet {
  transform: scale(1.5);
  background: #fdd306;
}

.marketingSwiper-pagination .swiper-pagination-bullet {
  transform: scale(2);
  margin-left: 10px !important;
  margin-bottom: 2vh !important;
  background: #fdd306;
}

.getQuotation .qetquotationBtn {
  position: fixed;
  right: -68px;
  bottom: 77px;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.getQuotation .qetquotationBtn .img {
  width: 50px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1;
  border: 3px solid #d6d4d2;
}
.getQuotation .qetquotationBtn .text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background: #d6d4d2;
  border-radius: 2px;
  font-weight: 700;
}

.navigateBtns {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(64, 84, 178, 0.29) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navigateBtns .nav-link {
  border-radius: 0px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgba(255, 255, 255, 0.337254902) !important;
}

.LatestProject {
  background: url("../imgs/SectionSection.png") center/cover no-repeat;
}

.filters ul li {
  margin-right: 10px;
  cursor: pointer;
}

.filters .active.btn {
  background-color: #fdd306 !important;
  border-color: #fdd306 !important;
}

.bg-yellow {
  background-color: #fdd306 !important;
}

.accordion {
  border-radius: 12px !important;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 12px;
}

.accordion-item {
  border-radius: 12px;
}

.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: #004e98 !important;
}

.accordion-button::after {
  font-family: "Font Awesome 5 Free";
}

.accordion-button.collapsed::after {
  font-size: 10px !important;
  border-radius: 50px;
  border: 1px solid #252422;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>');
  background-position: center;
  background-size: 60%;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg width%3D%2222%22 height%3D%2222%22 viewBox%3D%220 0 22 22%22 fill%3D%22none%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Crect x%3D%220.5%22 y%3D%220.5%22 width%3D%2221%22 height%3D%2221%22 rx%3D%2210.5%22 stroke%3D%22white%22/%3E%3Crect x%3D%226%22 y%3D%2210%22 width%3D%2210%22 height%3D%222%22 fill%3D%22white%22/%3E%3C/svg%3E") !important;
}

.submitBtn {
  background: #183c56;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

/*Left Side Buttons Start*/
.sticky-left-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  left: -158px;
  top: 40%;
  width: 200px;
  z-index: 2;
}

.sticky-left li {
  list-style-type: none;
  background-color: none;
  color: #183c56;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.sticky-left li:hover {
  margin-right: -150px;
  background: #f1eff3;
  border-radius: 25px 25px 25px 0;
}

.sticky-left li i {
  float: right;
  border-radius: 50%;
  margin: 5px 5px;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  font-size: 22px;
  text-align: center;
  padding: 5px;
}

.sticky-left li p {
  padding: 0px;
  float: right;
  margin: 0px;
  text-transform: uppercase;
  line-height: 43px;
}

.ourPart {
  height: 60vh;
}
@media (max-width: 450px) {
  .ourPart {
    height: auto;
  }
}

.text-secondary-gray {
  color: rgb(113, 113, 113);
}

.screen-frame {
  background: url(../imgs/view-computer-monitorpng.png) no-repeat;
  background-size: 109.7%;
  background-position: 43%;
  height: 70vh;
}

iframe {
  width: 100%;
  height: 43vh;
  margin-top: 7vh;
}

.Homebg {
  background: url("../imgs/homeBg.png") center/cover no-repeat;
}

section.descover {
  background: #d9d9d9;
  padding: 0;
}

section.descover .wrapper {
  margin: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 750px) {
  section.descover .wrapper .item {
    width: 95%;
  }
}
section.descover .wrapper .item {
  position: relative;
  width: 33.3333333333%;
}
@media (max-width: 450px) {
  section.descover .wrapper .item {
    width: 100%;
  }
}

section.descover .wrapper .item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.descover .wrapper .item .details {
  position: absolute;
  z-index: 15;
  bottom: 20px;
  left: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

section.descover .wrapper .item::after {
  content: "";
  position: absolute;
  z-index: 10;
  inset: 0;
  background: linear-gradient(34deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}/*# sourceMappingURL=main.css.map */